.c-filter .SumoSelect > .CaptionCont > span.placeholder {
    color: #414141;
    text-transform: uppercase;
    font-style: normal;
}

.c-filter .SumoSelect {
    width: 100%;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
    background-color: #fbe8ec;
}

.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
    box-shadow: 0 0 2px #e9284f;
    border-color: #e9284f;
    cursor: pointer;
}

.col {
    width: 272px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-filter * {
    box-sizing: border-box;
}

.c-filter {
    box-sizing: border-box;
    background-color: #f6f6f6;
    padding: 22px 15px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.c-filter-body {

}

.c-filter-form {

}

.c-filter-list {

}

.c-filter-item {
    margin-bottom: 14px;
}

.c-filter-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.c-filter-btn__reset {
    border: none;
    outline: none;
    cursor: pointer;
    color: #5d5d5d;
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    background: transparent;
}

.c-filter-mobile .c-filter-btn__reset {
    padding: 10px 18px;
    background-color: #e7e7e7;
    border-radius: 4px;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    color: #5d5d5d;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.c-filter-btn__set {
    padding: 10px 18px;
    background-color: #e9284f;
    border-radius: 4px;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;

}

/*card-----------------------*/

.card {
    box-sizing: border-box;
}

.card * {
    box-sizing: border-box;

}

.card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
}

.card-img {
    width: 38%;
}

.card-slider-big {
    margin-bottom: 14px;
    text-align: center;
    overflow: hidden;
}

.card-slider-big .slick-track {
    
    overflow: hidden;
}


.card-slider-big img{
    width: 100%;
    display: block;
    height:auto;
}


.card-slider-small {

}

.card-slider-small .card-slider-item {
margin: 0 4px;
}

.card-slider-small .card-slider-small__img {
    width: 74px;
    height: 74px;
    border: 2px solid transparent;
    cursor: pointer;
}

.card-slider-small__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-slider-item.slick-current .card-slider-small__img {
    /* -webkit-box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1);
box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1); */
border-color:rgba(233,40,79,1);
}



.card .slick-prev, 
.card .slick-next {
    transform: translateY(-50%);
    width: 24px;   
    height: 70px;
    text-indent: -999px;
    overflow: hidden;
}


.card .slick-next {
    right: 0 !important;
    background: rgba(0, 0, 0, 0.75) url(./img/arrow-right.png) no-repeat;
    background-position: 9px 31px;
    
}

.card .slick-prev {
    left: 0;
    background: rgba(0, 0, 0, 0.75) url(./img/arrow-left.png) no-repeat;
    background-position: 9px 31px;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/*-------*/
.card-property {
    padding: 0 30px;
    /*max-width: 460px;*/
    width: 40%;

}

.card-property-box {
    margin-bottom: 8px;
}

.card-property-box__title {
    color: #5a5a5a;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
}

.card-property-box__body {

}

.card-property-box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: -8px;
    margin-right: -8px;
}

.card-property-change {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 8px;
}

.card-property-change label {
    color: #575757;
    font-size: 13px;
    text-align: center;
    padding: 7px 12px;
    border: 1px solid #d5dadc;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;
    display: block;
    width: 100%;
}

.card-property-change input {
    display: none;
}

.card-property-change input:checked + label {
    border: 1px solid #e9284f;
    color: #e9284f;
}

.card-link {
    color: #6b6b6b;
    font-size: 13px;
    border-bottom: 1px dotted #6b6b6b;
}

.card-link:hover {
    text-decoration: none;
    border: none;
}

.card-character {
    margin-bottom: 18px;
}

.card-character-list {
    margin-bottom: 4px;
}

.tab-content .card-character-list {
    max-width: 550px;
}

.card-character__row {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.card-character__item {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-character__attribute {
    text-align: right;
    font-size: 14px;
    color: #553023;
    white-space: nowrap;
    margin-left: 4px;
    line-height: 1;
}

.card-character__item::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    border-bottom: 1px dashed #76665c;
    margin-left: .5rem;
}

.card-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-left: -6px;
    margin-right: -6px;
}

.card-advantages__item {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 8px;
}

.card-advantages-box {

}

.card-advantages-box__img {
    margin-bottom: 4px;
    text-align: center;
}

.card-advantages-box__title {
    color: #575757;
    font-size: 13px;
    text-align: center;
    line-height: 1;
}

/*-------*/
.card-operation {

}

.card-rating .bxr-rating-wrap {
    float: none;
}

.card-rating .bx_item_detail_rating {
    margin: 0;
    margin-bottom: 10px !important;
}


.card-price {
    font-size: 25px;
    color: #282828;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
}

.card-price span {
    font-size: 35px;
}

.card-buy {

}

.card-buy-btn {
    padding: 11px;
    background-color: #9a9c9b;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.card-buy-btn:hover {
    color: #ffffff;
    background-color: #929493;
    text-decoration: none;
}

/*card-operation-list*/
.card-operation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 15px;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 11px;
    list-style: none;
    padding: 0;
}

.card-operation-list__item {
    padding: 3px;
    width: 100%;
}

.card-operation-list__btn {
    display: block;
    border: 1px solid #d5dadc;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    color: #9a9c9b;
    font-size: 11px;
}

.card-operation-list__btn div {
    display: block;
    height: 19px;
}

.card-operation-list__btn span {
    display: block;
    text-align: center;
}

.card-operation-list__btn:hover {
    text-decoration: none;
}

/*------*/

.card-box {
    padding: 9px;
    border: 1px solid #d5dadc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-box-list {
    padding-left: 0;
    list-style: none;
}

.card-box-list__item {
    position: relative;
    padding-left: 12px;
}

.card-box-list__item img {
    display: block;
}

.card-box-list__item::before {
    content: '●';
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 12px;
    line-height: 1;
}

.card-box__title {
    color: #5a5a5a;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
}

.card-box-more {
    color: #6b6b6b;
    font-size: 13px;
    border-bottom: 1px dotted #6b6b6b;
}

.card-box-more:hover {
    text-decoration: none;
    border: none;
}

/*-------*/
.card-related {

}

.card-related-title {
    font-size: 19px;
    color: #333333;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1;
}

.card-related-list {

}

.card-related-list__item {
    margin-bottom: 6px;
}

.product-row {
    border:1px solid #d5dadc;
    border-radius: 4px;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-row__img {
    width: 45px;
    height: 45px;
    border:1px solid #d5dadc;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 23px;
}

.product-row__img img {
    width: 95%;
}

.product-row__title {
    width: 70%;
    color: #414141;
    font-size: 14px;
    line-height: 1;
    padding-right: 10px;
}

.product-row__operation {
    width: 15%;
    color: #9a9c9b;
    font-size: 13px;
    padding-right: 10px;
    white-space: nowrap;
}

.product-row__price {
    width: 15%;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    padding-right: 10px;
    white-space: nowrap;
}

.product-row__left {
    width: 68%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-row__right {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-row__layout {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-row__count {
    /*padding-right: 30px;*/
    width: 100px;
    margin-right: 20px;
}

.product-row__basket {
    padding-right: 9px;
}

.product-row__basket a {
    display: block;
    border-radius: 4px;
    width: 36px;
    height: 34px;
    background: #9a9c9b url(./img/basket-icon.png) 0 0 no-repeat;
    background-position: 9px 10px;


}

.product-row__btn {
    padding: 10px 23px;
    background-color: #e9284f;
    border-radius: 4px;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}
.product-row__btn:hover {
    color: #ffffff;
    background-color: #d1294c;
    text-decoration: none;
}

.product-row .bxr-basket-action {
    width: 100px;
}
.product-row .bxr-basket-action,
.product-row .bxr-basket-action input{
    margin: 0;

}


/*tabs-------------------------------------------------*/
.c-tabs {
    margin-bottom: 28px;
}

.tabs-menu {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.tabs-menu__list {
    text-align: left;
    margin-bottom: 18px;
}

.tabs-menu__item {
    display: inline-block;
    margin-right: 14px;
    border-radius: 4px;
    padding: 4px 10px;
    border:1px dotted #575757;
    margin-bottom: 6px;
}

.v2 .tabs-menu__item a {
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
}

.tabs-menu__item a {
    white-space: nowrap;
    color: #575757;
}
.v2 .tabs-menu__item a {
    padding: 16px 25px;
    margin: 0;
    color: #000000;
    display: inline-block;
}

.v2 .tabs-menu__item {
    margin: 0;
}

.v2 .tabs-menu__item.current::after {
    content: '';
    position: absolute;
    background-color: #e9284f;
    /*width: 100%;*/
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.tabs-menu__item.current .tab-content {
    display: block;
}

.v2 .tabs-menu {
    border-bottom: 1px solid #d5dadc;
    margin-bottom: 20px;
}

.tabs-menu__item a:hover {
    text-decoration: none;
}

.tabs-menu__item a::after {
    content: '';
    border: none;
}

.tabs-menu__item:last-child {
    margin-right: 0;
}

.tabs-menu__item.current {
    border-color: #e9284f;
    text-decoration: none;
}

.tabs-menu__item.current a {
    border: none;
    color: #e9284f;
    text-decoration: none;
}

.tabs-menu__item.current a::after {
    content: '';
    border: none;
}

.tabs-menu__item,
.tabs-menu__item.current {
    position: relative;
}

.tabs-menu__item.current .fa {
    transform: rotate(180deg);
}

.tabs-menu__item .fa {
    display: none;
}

.tab-content {
    display: none;
    font-size: 1.5rem;
}

.tab-content:first-child {
    display: block;
}

.tabs-menu__item .tab-content {
    padding: 10px 16px;
}

.v2 .tabs-menu__item {
    border: none;
}

/*sort-view----------------*/

.bxr-cart-basket-indicator,
.bxr-sale-indicator  {
    display: none;
}
.sort-view {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:12px 18px;
    background-color: #f6f6f6;
    margin-bottom: 15px;
}

.sort-view__col {

}

.sort-view-icons {
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.sort-view-icon {
    display: inline-block;
    padding: 5px;
    border:1px solid #d5dadc;
    background-color: #fff;
    margin-right:10px;
    line-height: 1;
}

.sort-view-icon.active {
    background-color: #e9284f;
    border-color: #e9284f;
}

.sort-view-icon.active i {
    color: #ffffff;
}

.sort-view-icon:last-child {
    margin-right: 0;
}

.sort-view-middle {
    color: #2f3230;
    font-size: 13px;
}


.SumoSelect>.optWrapper>.options::-webkit-scrollbar {
    width: 10px;
}


.SumoSelect>.optWrapper>.options::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
    background-color: #e7e7e7;
}


.SumoSelect>.optWrapper>.options::-webkit-scrollbar-thumb {
    background: #e9284f;
    border-radius: 10px;
    width: 38px;
}

.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label {
    font-size: 13px;
    font-weight: 400;
}

.SumoSelect > .optWrapper > .options {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.SumoSelect > .CaptionCont {
    border-color:#d5dadc;
    border-radius: 0;
}
.SumoSelect > .optWrapper {
    border-radius: 0;
}


.content-test {
    width: 250px;
    height: 250px;
    overflow: auto;
}

.options .mCSB_scrollTools .mCSB_draggerRail {
    background: #e7e7e7;
    width: 10px;
    opacity: 1;
}

.options .mCSB_scrollTools {
    top: 4px;
    bottom: 4px;
}

.options .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #e9284f;
    width: 10px;
    border-radius: 10px;
}

.options .mCSB_inside > .mCSB_container {
    margin-right: 6px;
}

.c-filter-mobile .SumoSelect.open > .CaptionCont > span.placeholder {
    color: #ffffff;
}

.SumoSelect.open .fa {
    color: #e9284f;
    transform: translate(-8px, -2px) rotate(180deg);
}

.SumoSelect > .CaptionCont > span {
    cursor: pointer;
}

.c-filter-mobile .SumoSelect.open > .CaptionCont,
.c-filter-mobile .SumoSelect:focus > .CaptionCont,
.c-filter-mobile .SumoSelect:hover > .CaptionCont,
.c-filter-mobile .SumoSelect.open > .CaptionCont > span.placeholder,
.c-filter-mobile .SumoSelect:focus > .CaptionCont > span.placeholder,
.c-filter-mobile .SumoSelect:hover > .CaptionCont> span.placeholder,
.c-filter-mobile .SumoSelect.open .fa,
.c-filter-mobile .SumoSelect:focus .fa,
.c-filter-mobile .SumoSelect:hover .fa {
    background: #e9284f;
    color: #ffffff;
}

.SumoSelect > .CaptionCont > span.placeholder,
.SumoSelect.open .fa {
    color: #ffffff;
}

.c-filter-mobile  {
    display: none;
    margin-bottom: 20px;
}

.c-filter-mobile__body {
    display: none;
}

.c-filter-mobile__header {
    background-color: #e7e7e7;
    padding: 10px 16px 10px 46px;
    font-size: 13px;
    color:#414141;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.c-filter-mobile__header.active .fa {
    transform: rotate(180deg);
}



.c-filter-mobile__header::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 9px;
    width: 20px;
    height: 20px;
    background: url(./img/icon-filter.png) 0 0 no-repeat;
}


.c-filter-mobile__header .fa {
    position: absolute;
    right: 29px;
    top: 13px;
}



/*----------------*/
.v2.navigation {
    margin-bottom: 35px;
}

.v2 .navigation-pages {
    text-align: left;
}

.v2 .navigation-pages .nav-current-page {
    background-color: #fff;
}

.v2 .nav-current-page,
.v2 .navigation-page-all,
.v2 .navigation-pages a,
.v2 .navigation-page-all:hover,
.v2 .navigation-pages a:hover,
.v2 .navigation-page-all:active,
.v2 .navigation-pages a:active,
.v2 .navigation-page-all:visited,
.v2 .navigation-pages a:visited {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    font-size: 13px;
    color: #575757;
    font-weight: 400;
    min-width: 40px;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.v2 .nav-current-page {
    color: #e9284f;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1);
    box-shadow: inset 0px 0px 0px 2px rgba(233,40,79,1);
}


/*range slider */
/* Ширина слайдера */
.range-slider {
    border: 1px solid #d5dadc;
    background: #fff;
    padding: 17px 20px;
}

.range-slider-title {
    font-size: 13px;
    color: #414141;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 14px;
}

.sliderCont {
    margin-bottom: 16px;
}
.range-slider input {
    display: inline-block;
    width: 38%;
    vertical-align: middle;
}
.range-slider label {
    vertical-align: middle;
}
.range-slider_default {
    width: 100%;
}
.formCost {
    margin-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    /* Задаем нужную ширину */
    height: 10px;
    /* и высоту */
    border-radius: 20px;
    background-color: #e9284f;
    /*border: 1px solid #d1d2d2;*/
    color: #d1d2d2;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:focus {
    /*border: 1px solid #d1d2d2;*/
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 10px;
    background-color: #e7e7e7;
    border-radius: 20px;
    /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle:last-child {
    top: 0;
    margin-left: -10px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 10px;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    background-color: #cdd2d9;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    background: #fe8ca3;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}







@media (max-width: 540px) {
    .c-filter-header {
        display: block;
    }
}

@media (max-width: 1200px) {
    .v2 .tabs-menu__item a {
        padding: 10px 4px;
    }

    .card-property {
        padding: 0 16px;
    }


    .tabs-menu__item {
        margin: 0 4px 6px 0;
    }
}

@media (max-width: 992px) {
    .card-body {
        display: block;
    }

    .card-img,
    .card-property,
    .card-operation {
        width: 100%;
        padding: 0;
        margin-bottom: 16px;
    }
    .card-advantages {
        /*display: none;*/
    }

    .card-img {
    }

    .card-slider-big {
        margin-bottom: 4px;
    }

    .card-slider-small {
        display: none;
    }

    .v2 .tabs-menu__item {
        padding: 0;
    }

    .product-row {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product-row__left {
        width: 100%;
        margin-bottom: 6px;
    }

    .product-row__right {
        width: 100%;
        justify-content: flex-end;
    }

    .product-row {
        padding: 7px;
    }

    .product-row__count {
        margin: 0;
        width: 90px;
    }


    .product-row__count .bxr-basket-action .bxr-quantity-button-plus {
        margin: 0 !important;
    }

    .card-property-box__list {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .card-property-change {
        width: auto;
    }

    .card-advantages-box__img img {
        height: 36px;
    }

    .card-advantages-box__title {
        font-size: 10px;
    }

    .product-row__btn {
        padding: 10px 14px;
    }

    .v2 .tabs-menu__item a {
        padding: 3px 4px;
    }
}

@media (max-width: 768px) {
    .c-filter {
        display: none;
    }

    .c-filter-mobile {
        display: block;
    }

    .c-filter-mobile .c-filter {
        display: block;
    }

    .c-filter-mobile .c-filter-header {
        display: none;
    }
}

@media (max-width: 520px) {

    .v2 .tabs-menu__item {
        width: 100%;
        background-color: #f6f6f6;
        margin: 0;
        border-bottom: 1px solid #d5dadc;
    }


    .v2 .tabs-menu__item.current a {
        background-color: #e9284f;
        color: #ffffff;
    }

    .v2 .tabs-menu__item.current::after {
        content: '';
        display: none;
    }

    .v2 .tabs-menu__item .fa {
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
        color: #9a9c9b;
    }

    .v2 .tabs-menu__item.current .fa {
        color: #ffffff;
    }

    .v2 .tabs-menu {
        margin-left: -10px;
        margin-right: -10px;
    }

    .v2 .tabs-menu__item a {
        padding: 8px 16px;
        display: block;
        width: 100%;
    }

    .product-row__layout {
        flex-flow: row wrap;
    }
    .product-row__title {
        flex: 1 0 100%;
        margin-bottom: 2px;
    }
    .product-row__right {
        justify-content: flex-start;
    }
}
